<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bawei.interView.dao.DepartmentMapper">
    <select id="queryDep" resultType="com.bawei.interView.bean.Department">
    select * from department
    </select>
</mapper>